.catalog-promo {
	padding-top: 210px;
	padding-bottom: 30px;
	&__tabs {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		margin-bottom: 20px;
	}
	&__tab {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		padding: 10px;
		width: 100%;
		height: 50px;
		background-color: #eee;
		font-weight: 600;
		line-height: 100%;
		color: var(--fill-blue);
		transition: all 0.3s;
		&:hover,
		&.active {
			background: var(--fill-blue);
			color: var(--fill-white);
		}
	}
	&__body {
		width: 100%;
		height: 500px;
		position: relative;
		z-index: 10;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		text-align: center;
		color: #fff;
		br {
			display: none;
		}
	}
}
@media (max-width: 1470px) {
}
@media (max-width: 1279px) {
}
@media (max-width: 1099px) {
}
@media (max-width: 1010px) {
	.catalog-promo {
		padding-top: 140px;
		padding-bottom: 30px;
		&__tabs {
			display: none;
		}
		&__body {
			height: 700px;
		}
		&__title {
			br {
				display: block;
			}
		}
	}
}
@media (max-width: 760px) {
	.catalog-promo {
		padding-top: 90px;
		padding-bottom: 43px;
		&__title {
			font-size: 26px;
			position: relative;
			top: -68px;
		}
	}
}
