.confidentiality {
	margin-bottom: 80px;
	color: var(--text-black);
	h1,
	h2,
	h3,
	h4 {
		font-weight: 600;
		font-size: 26px;
		line-height: 130%;
		color: var(--text-black);
		margin-bottom: 20px;
	}
	h2,
	h3,
	h4 {
		margin-top: 40px;
	}
	p {
		margin-bottom: 20px;
	}
	ol {
		padding-left: 50px;
		li {
			margin-top: 20px;
		}
	}
	ul {
		list-style: disc;
		padding-left: 16px;
		li {
			margin-top: 20px;
		}
	}
	a {
		color: var(--fill-blue);
		transition: color 0.3s;
		&:hover {
			color: var(--text-black);
		}
	}
}
@media (max-width: 1470px) {
}
@media (max-width: 1279px) {
}
@media (max-width: 1099px) {
}
@media (max-width: 1010px) {
	.confidentiality {
		ol {
			padding-left: 30px;
		}
	}
}
@media (max-width: 760px) {
	.confidentiality {
		margin-bottom: 60px;
		h1,
		h2,
		h3,
		h4 {
			font-size: 20px;
		}
		ol {
			padding-left: 10px;
		}
	}
}
