:root {
	--font-family: "Inter", sans-serif;
	--fill-blue: #0094ff;
	--fill-blue-dark: #0080dc;
	--fill-blue-light-10: #e6f4ff;
	--fill-gray-stroke-dark: #d7d7d7;
	--fill-gray-stroke-light: #e0e0e0;
	--fill-gray-light: #f6f6f6;
	--fill-white: #fff;
	--fill-yellow: #ffaf00;
	--fill-red: #ff3535;
	--text-blue: #0094ff;
	--text-black: #222;
	--text-black-light: #444;
	--text-gray-dark: #666;
	--text-gray-light: #999;
	--text-white: #fff;
}
